.wrapper{
    max-width: 100%;
  }
  button:hover{
    background-color: white;
    color:#760421;
  }
  .sec1{
    height:100vh;
    background-color: #760421;
  }
  
  .decouvrir {
    color: white;
  padding: 12px 20px;
  gap: 16px;
  width: 168px;
  height: 54px;
  background: #760421;
  border-radius: 6px;
  }
  
  .decouvrir_fleche {
    color: white;
  padding: 12px 20px;
  gap: 16px;
  width: 168px;
  height: 54px;
  background: #760421;
  border-radius: 6px;
  }
  
  .suscribe{
  align-items: center;
  padding: 12px 20px;
  gap: 16px;
  position: absolute;
  width: 163px;
  height: 54px;
  background: #760421;
  border-radius: 6px;
    color: white;
  }
  
  .fleche_rouge{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: #760421;
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .add_moins{
    width: 24px;
    height: 24px;
    background-color: white;
    color: #760421;
    border: #760421;
  }
  
  .add_plus{
    width: 24px;
    height: 24px;
    background-color: white;
    color: #760421;
    border: #760421;
  }
  
  .supp{
    width: 28px;
    height: 28px;
    background-color: #760421;
    color: white;
    border-radius: 50%;
    border: none;
  }
  
  .rond_full{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
  }
  
  .rond_empty{
      height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
  }
  
  .rond_choice{
    height: 25px;
    width: 25px;
    background-color: #760421;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  /* HEADER */ 
  header{
    background-color:#760421;
  height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      color: white;
  }
  header .logo a{
  text-decoration: none;
  font-family: 'Aviano Royale';
  font-style: normal;  
  font-size: 36px;
  line-height: 36px;
    color:white;
  }
  header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:90px;
  }
  header .menu h5{
    margin-left:15px;
  }
  header .icones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 128px;
  }
  header .icones .fa-solid{
    margin-right: 34px;
  }
  
  /* ETAPES */
  
  .etapes{
    background: #222121;
    display: flex;
    align-items: center;
    height: 128px;
    color: white;
    text-align: center;
  }
  
  .etapes p{
    width: 582px;
    height: 18px;
  }
  
  .etapes a{
    text-decoration: none;
    color: white;
  }

  #info{
    text-decoration-line: underline orange;
    
  }
  
  
  /* INFO COMPTE */ 
  
  .info_compte{
    display: flex;
    flex-direction: row;
    padding-left: 90px;
    border-right: 1px black solid;
  }
  
  .info_compte button{
    border: none;
  }
  
            /* LEFT PANEL */ 

  .info_compte .left_panel{
    width: 50%;
  }
  .info_compte .left_panel .title{
    font-family: 'Ratio Modern';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 57px;
    padding-top: 128px;

  }
  .info_compte .left_panel .identifiants h2{
  padding-top: 70px;
  }

  
  .info_compte .left_panel .identifiants span{
    color: #760421;
    font-size: 18px;
  }
  /* .info_compte .left_panel .identifiants p{
      border-bottom: 1px solid rgba(0, 0, 0, 1);
  } */ 
  
  .info_compte .mail input, .mdp input, .confirm_mdp input, .date input, .date_naissance input{
    border-bottom: 1px solid black;
    margin-bottom: 10px;
    width: 300px;
  }
  
  .info_compte .informations input{
    margin: 0px;
    display: flex;
  }

  .info_compte .informations .box1, .box2{
    display: flex;
    align-items: center;
    margin: 0;
  }

  .info_compte .informations input{
    margin-right: 20px;
  }

  /* RIGHT PANEL */ 
  
  .info_compte .right_panel{
    height: 1231px;
    padding-left: 90px;
    justify-content: center;
    width: 50%;
    background-color: #F2E4E4;
    margin: 0;
  }
  
  /* .info_compte .right_panel .content p{
      border-bottom: 1px solid rgba(0, 0, 0, 1);
  }  */ 
  
  .info_compte .right_panel .title{
    font-family: 'Ratio Modern';
    font-style: normal;
    font-weight: 800;
    font-size: 44px;
    line-height: 57px;
    padding-top: 128px;
  }
  .info_compte .right_panel .content{
    padding-left: 160px;

  }
  .info_compte .right_panel .content h2{
  padding-top: 70px;
  }
  
  /* CONNEXION */ 
  
  .connexion{
    display: flex;
    justify-content: space-around;
    margin-top: 128px;
  height: 408px;
  }
  
  .connexion .connectez_vous{
  width: 220px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
  }
  
  .connexion .pas_de_compte{
  width: 368px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
  }
  
  .connexion .connectez_vous h1, .pas_de_compte h1{
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  }
  
  
  .connexion .connectez_vous h3, .pas_de_compte h3{
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .connexion .connectez_vous button, .pas_de_compte button{
    width: 220px;
  height: 44px;
    background-color:#760421;
    color: white;
    border-radius: 50px;
  }
  
  /* FOOTER */ 
  
  footer{
    background-color:#760421;
    color: white;
  height: 614px;
  }
  
  footer .annonces{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 128px;
  }
  footer .annonces a{
    text-decoration: none;
  font-family: 'Aviano Royale';
  font-style: normal;  
  font-size: 36px;
  line-height: 36px;
    color:white;
  }
  
  footer .annonces ul .titre{
    font-family: 'Mukta';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
    margin-bottom:20px;
  }
  footer .annonces ul li{
    font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
    list-style: none;
  }


  
  footer .bas_de_page{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 70px;
  }
  footer .bas_de_page .logo_RF img{
    width: 136px;
  height: 85px;
  }