html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.wrapper{
    max-width: 100%;
  }
  
  .sec1{
    height:100vh;
    background-color: #760421;
  }
  
  .decouvrir {
    color: white;
  padding: 12px 20px;
  gap: 16px;
  width: 168px;
  height: 54px;
  background: #760421;
  border-radius: 6px;
  }
  
  .decouvrir_fleche {
    color: white;
  padding: 12px 20px;
  gap: 16px;
  width: 168px;
  height: 54px;
  background: #760421;
  border-radius: 6px;
  }
  
  .suscribe{
  align-items: center;
  padding: 12px 20px;
  gap: 16px;
  position: absolute;
  width: 163px;
  height: 54px;
  background: #760421;
  border-radius: 6px;
  color: white;
  display: flex;
  align-items: center;
  }
  
  .fleche_rouge{
    width: 40px;
    height:40px;
    border-radius: 50%;
    background-color: #760421;
    color: white;
    justify-content: center;
    align-items: center;
  }
  
  .add_moins{
    width: 24px;
    height: 24px;
    background-color: white;
    color: #760421;
    border: 1px solid #760421;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-right: 10px;
  }
  
  .add_plus{
    width: 24px;
    height: 24px;
    background-color: white;
    color: #760421;
    border: 1px solid #760421;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    margin-left: 10px;
  }
  
  .supp{
    width: 28px;
    height: 28px;
    background-color: #760421;
    color: white;
    border-radius: 50%;
    border: none;
  }
  
  .rond_full{
    height: 25px;
    width: 25px;
    background-color: black;
    border-radius: 50%;
  }
  
  .rond_empty{
      height: 25px;
    width: 25px;
    background-color: white;
    border-radius: 50%;
  }
  
  .rond_choice{
    height: 25px;
    width: 25px;
    background-color: #760421;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    display: flex;
  }
  
  a{
    text-decoration: none;
    color: white;
  }
  
  /* HOMEPAGE */ 
  
  
  /* HEADER */ 
  header{
    background-color:#760421;
  height: 130px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
      color: white;
  }
  header .logo a{
  text-decoration: none;
  font-family: 'Aviano Royale';
  font-style: normal;  
  font-size: 36px;
  line-height: 36px;
    color:white;
  }
  header .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:90px;
  }
  header .menu h5{
    margin-left:15px;
  }
  header .icones{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 128px;
  }
  header .icones .fa-solid{
    margin-right: 34px;
  }
  
  /* ETAPES */
  
  .etapes{
    background: #222121;
    display: flex;
    align-items: center;
    height: 128px;
    color: white;
    text-align: center;
  }
  
  .etapes p{
    width: 582px;
    height: 18px;
  }
  
  .etapes a{
    text-decoration: none;
    color: white;
  }
  
  
  /* PANIER */ 
  
  .panier{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 10%;
    margin-bottom: 10%;
  }
            /* LEFT PANEL */ 
  .panier .left_panel{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding-left: 90px;
  }
  
  .panier .article_un, .article_deux{
    display: flex;
  justify-content: space-around;
  position: relative;
  }
  
  .panier .left_panel .title h1{
    font-family: 'Ratio Modern';
    font-size: 44px;
    padding-bottom: 20px;
  }
  
  
  .panier .left_panel .article_un_text h1, .article_deux_text h1{
    font-family: 'Ratio Modern';
    font-size: 28px;
  }
  
  .panier .left_panel .article_un_text p, .article_deux_text p{
    font-family: 'Ratio Modern';
    font-size: 20px;
  }
  
  .panier .left_panel .article_un img, .article_deux img{
  width: 86px;
  height: 264px;
  padding: 15px;
  }

  .panier .left_panel .article_un .article_un_prix, .article_deux .article_deux_prix{
    position : absolute;
    bottom: 0;
    right: 0;
  }
  
.panier .left_panel .article_un .article_un_add, .article_deux .article_deux_add{
  display: flex;
  flex-direction: row;
  color: blue;
  text-align: center;
}

.panier .left_panel .button_page{
  display: flex;
  justify-content: space-around;
}

            /* RIGHT PANEL */ 
  
  .panier .right_panel{
    padding-top: 30px;
    width: 50%;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .panier .right_panel .panneau_prix{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .panier .right_panel .panneau_prix .sous_total, .tva, .livraison, .total{
    background: #F2E4E4;
    display: flex;  
  }

  .panier .right_panel .panneau_prix .sous_total{
    width: 300px;
    height: 61px;
    border-radius: 12px 12px 0px 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: white 1px solid;
  }
  .panier .right_panel .panneau_prix .tva{
    width: 100%;
    height: 61px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: white 1px solid;
  }
  
  .panier .right_panel .panneau_prix .livraison{
    width: 100%;
    height: 102px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: white 1px solid;
  }

  .panier .right_panel .panneau_prix .livraison_text{
    color: black;
  }

  .panier .right_panel .panneau_prix .livraison p{
    font-size: 12px;
  }
      
  .panier .right_panel .panneau_prix .total{
    width: 100%;
    border-radius: 0px 0px 12px 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: white 1px solid;
  }
    
  .panier .right_panel .panneau_prix h2{
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 300;
  font-size: 20px;
  line-height: 30px;
  }
  
  .panier .right_panel .panneau_prix h1{
    font-family: 'Mukta';
  font-style: normal;
  font-size: 28px;
  }
                      /* CODE REDUCTION */ 
  
  .panier .right_panel .code_reduction{
    width: 300px;
    height: 206px;
    background: #F2E4E4;
    border-radius: 12px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .panier .right_panel .code_reduction p{
    margin: 15px;
    font-size: 20px;
  }
  
  .panier .right_panel .code_reduction .button_reduction button{
    background: #760421;
    border: 1px solid #000000;
    border-radius: 6px;
    color: white;
    padding: 12px 20px;
  }

  .panier .right_panel .button_finish button{
    background: #760421;
    border: 1px solid #000000;
    border-radius: 6px;
    color: white;
    margin-top: 20px;
  }

  .panier .right_panel button:hover{
    background-color: white;
    color:#760421;
    border: 1px solid black;
  }
  
  /* REASSURANCE */ 
  
  .reassurance{
    background-color: #F2E4E4;
    height: 254px;
    color: black;
    padding-left: 90px;
    padding-right: 90px;
  }
  
  .reassurance_content{
    display: flex;
    justify-content: space-between;
    padding-top: 64px;
    padding-bottom: 64px;
  }
  
  .reassurance .gift_card h1, .paiement_securise h1, .livraison h1, .aide h1{
    font-family: 'Mukta';
    font-size: 20px;
  }
  
  .reassurance .gift_card p, .paiement_securise p, .livraison p, .aide {
  font-family: 'Mukta';
  font-size: 20px;
  }
  
  .reassurance .fa-solid{
    width:45.33px;
    height: 30px;
    color: black;
  }
  
  .reassurance .livraison{
    display: flex;
    flex-direction: column;
  }
  
  /* CONNEXION */ 
  
  .connexion{
    display: flex;
    justify-content: space-around;
    margin-top: 128px;
  height: 408px;
  }
  
  .connexion .connectez_vous{
  width: 220px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
    flex-direction: column;
  }
  
  .connexion .pas_de_compte{
  width: 368px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
    
  }
  
  .connexion .connectez_vous h1, .pas_de_compte h1{
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 600;
  font-size: 28px;
  line-height: 36px;
  }
  
  
  .connexion .connectez_vous h3, .pas_de_compte h3{
  font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
  }
  
  .connexion .connectez_vous button, .pas_de_compte button{
    width: 220px;
  height: 44px;
    background-color:#760421;
    color: white;
    border-radius: 50px;
  }
  
  /* FOOTER */ 
  
  footer{
    background-color:#760421;
    color: white;
  height: 614px;
  }
  
  footer .annonces{  
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 128px;
  }
  footer .annonces a{
    text-decoration: none;
  font-family: 'Aviano Royale';
  font-style: normal;  
  font-size: 36px;
  line-height: 36px;
    color:white;
  }
  
  footer .annonces ul .titre{
    font-family: 'Mukta';
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
    margin-bottom:20px;
  }
  footer .annonces ul li{
    font-family: 'Mukta';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
    list-style: none;
  }
  
  footer .bas_de_page{
    display: flex;
    justify-content: space-around;
    align-items: center; 
    margin-top: 70px;
  }
  footer .bas_de_page .logo_RF img{
    width: 136px;
  height: 85px;
  }